img{
  width: 60%;
  height: auto;
}

a {
    color:  slategray;
}

a:hover {
    color: lightgray;
}

.card{
  border-color: gainsboro;
  border-width:  0.25pt;
  border-style: solid;
  display: flex;  
  flex-direction: column;
  margin-left:5%;
  margin-right:5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row{
  display: flex;  
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  justify-content: center;
  padding :0.5rem;
}

.container{
  justify-content: center;
}

.details{
  font-size: 10pt;
  color:slategray;
  padding: 0.5rem;
}

.title{
  font-size: 14pt;
  background-color:slategray;
  color: white;
  text-align: center;
  margin: 0.5rem;
  padding: 0.2rem;
}

.homepage_links{
  color: slategray;
  padding: 25%;
  font-size: larger;
  }

.loginlink{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0.5rem;
}

.form_panel {
  padding:2%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  text-align:center;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.3rem #999;
  margin: auto;
  min-width: 350px;
  width: 80%;
  margin-top: 3%;
  background-color: black;
}

.navitems{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item{
  margin-left:0.4rem;
  font-size: 8pt;
  color: black;
  align-self: center;
}

.username{
  font: 10pt sans-serif;
  color: black;
  justify-content: 'flex-end';
  align-self: flex-end;
  vertical-align: middle;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  vertical-align: middle;
}

.small_header{
  font: 12pt sans-serif;
  color:black;
  margin: 11pt;
}

.img_icon {
  align-self: center;
    width:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:1pt;
    text-align:center;
    box-shadow: 0.2rem 0.2rem 0.3rem #999;  
}
